.movie-wrapper{
    width: 50%;
    margin: auto;
}

.card-movie{
    display: flex;
    margin: 10px 0px 10px 0px;
}

.card-movie img{
    width: 30%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
.sub-card{
    padding: 0px 10px 0px 10px;
}
.sub-card h2{
    margin: 0;
    cursor: pointer;
}

.detail-info{
    display: flex;
    flex-wrap: wrap;

}
.detail-info img{
    width: 30%;
}

@media screen and (max-width:768px){
    .movie-wrapper{
        width: 100%;
    }
    .card-movie img{
        width: 40%;
    }
    .detail-info img{
        width: 100%;
    }
}